
a {color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;}

#body {
 background-color: rgb(20, 20, 20);
    justify-content: center;
    align-items: center;
    height: 100vh; /* Garante que a altura do body seja 100% da altura da viewport */
    margin: 0; /* Remove margens padrão */
    padding: 0px;
}
@media(min-width:600px){
    body{display: flex;
}

}
@media(max-width:600px){
    body{display:flex; }
    #comment{display: block;
}
#hd{position: fixed;
top: 0px;
width: 100%;
height: 10%;}
}


#place {color: antiquewhite;
    text-align: center; /* Centraliza o texto e os inputs dentro da seção */
    background-color: #2f2f2f; /* Adiciona uma cor de fundo para melhor visualização */
    padding-block: 20px; /* Espaçamento interno */
    border-radius: 10%; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    border: 2px solid rgb(24, 23, 23);
    width: 80%;
    height: fit-content;
}

#hd {text-align: center;
    color: rgb(230, 211, 175);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10%;}

#art{ display:none;
    border: 4px solid  rgb(24, 23, 23);
    text-align: center;
    background-color: rgb(15, 15, 15);
}
#text{position: relative;
    color: rgb(236, 236, 236);
    text-align: center;
}

#ft{display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da janela */
}
#ft img {padding-bottom: 1px;
    padding-top: -5px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
#foot{width: 100%;
    justify-content: space-between;
  color: #ffd29c;
    align-items: center;
    display: flex;
    background-color: rgb(34, 34, 34);
position: fixed;
bottom: 0%;}
    
#ftd{
display:flex;
list-style: none;
gap: 1rem;
padding: .5rem;
align-items: center;
}

#copy{
    padding-right: 20px;
}

h2{color: aliceblue;}

#comment{display: flex;
    width: 100%;
    position: fixed;
    background-color: #212121;
    bottom: 10%;
    color: rgb(235, 203, 161);
    justify-content:space-around;
    max-height:30%;
}
#comment-text{background-color: #fff4db;
    width: 80%;
    margin-left: 2px;
    resize:inherit;
    max-width: fit-content;
}


#Enviar{margin-left: 2px;}

#comments-container {
    color: rgb(233, 241, 183);
/*adicionar o sistema de rolagem aqui e no resto da pagina se necessarío*/
}


